<H2>Excluir Raça</H2>
<div class="container mt-5">
    <div class="row">
<form  #frm="ngForm" (ngSubmit)="excluir(frm)" method="delete">
    
    <div class="mb-3 mt-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="nome" class="form-control" id="nome" placeholder="Digite o nome" name="nome"
      [(ngModel)]="raca.nome" readonly>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição:</label>
      <input type="text" class="form-control" id="descricao" placeholder="Informe a descricao" name="descricao"
      [(ngModel)]="raca.descricao" readonly>
    </div>

    <button type="submit" class="btn btn-primary">Excluir</button>
  </form>
</div>
</div>