<H2>Incluir Animal</H2>
<div class="container mt-5">
    <div class="row">
<form  #frm="ngForm" (ngSubmit)="alterar(frm)" method="put">
    
    <div class="mb-3 mt-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="nome" class="form-control" id="nome" placeholder="Digite o nome" name="nome"
      [(ngModel)]="animal.nome" >
    </div>

    <div class="mb-3">
      <label for="registro" class="form-label">Registro:</label>
      <input type="text" class="form-control" id="registro" placeholder="Informe o registro" name="registro"
      [(ngModel)]="animal.registro" >
    </div>

    <div class="mb-3">
        <label for="preco" class="form-label">Preço:</label>
        <input type="text" class="form-control" id="preco" placeholder="Informe o preço" name="preco" 
        [(ngModel)]="animal.preco"  >
    </div>

    <div class="mb-3">
        <label for="idade" class="form-label">Idade:</label>
        <input type="text" class="form-control" id="idade" placeholder="Informe a idade" name="idade" 
        [(ngModel)]="animal.idade" >
    </div>

    <div class="mb-3">
        <label for="pesoArroba" class="form-label">Peso em Arrobas:</label>
        <input type="text" class="form-control" id="pesoArroba" placeholder="Informe o peso em Arrobas" name="pesoArroba"
        [(ngModel)]="animal.pesoArroba" >
    </div>

    <div class="mb-3">
        <label for="idRaca" class="form-label">Raça:</label>
        <select class="form-control" id="idRaca" placeholder="Informe a Raça" name="idRaca" 
        [(ngModel)]="animal.idRaca">
            <option *ngFor="let raca of racas" value="{{raca.idRaca}}"    >{{raca.nome}}</option>
          </select>

    </div>

    <div class="mb-3">
        <label for="idVendedor" class="form-label">Vendedor:</label>
        <input type="text" class="form-control" id="idVendedor" placeholder="Informe o vendedor" name="idVendedor"
        [(ngModel)]="animal.idVendedor">
    </div>

    <div class="mb-3">
        <label for="idComprador" class="form-label">Comprador:</label>
        <input type="text" class="form-control" id="idComprador" placeholder="Informe o comprador" name="idComprador"
        [(ngModel)]="animal.idComprador">
    </div>

    <div class="mb-3">
        <label for="idMedico" class="form-label">Médico Veterinario:</label>
        <input type="text" class="form-control" id="idMedico" placeholder="Informe o médico" name="idMedico" 
        [(ngModel)]="animal.idMedico">
    </div>

    <div class="mb-3">
        <label for="idLeilao" class="form-label">Leilão:</label>
        <input type="text" class="form-control" id="idLeilao" placeholder="Informe o leilão" name="idLeilao" 
        [(ngModel)]="animal.idLeilao">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ativo" name="ativo" value="1" checked
        [(ngModel)]="animal.ativo"> 
        <label class="form-check-label">Ativo</label>
      </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
</div>